/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2017, 7:29:32 PM
    Author     : Daniel Martinez
*/

/* Element Style */

html, div, body, h1, form, label, button {
    display: block;
}

body { 
    background-color: white;
    margin: auto;
    padding: 10px;
    line-height: 1em;
    width: 76%;
    border: 3px dashed green;

}
div#employeeBanner { 
    margin: 10px auto;
    width: 50%;
    border: 3px solid green;
    float: left;
}

