/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 11, 2017, 5:05:37 PM
    Author     : Daniel Martinez
*/

/* Element Style */

body { 
    background-color: white;
    margin: auto;
    padding: 0px;
    width: 76%;
    border: 3px solid green;
    box-shadow: black 10px 0px 15px,	
		black -10px -10px 15px;

}
div#loginBanner { 
    margin: 10px auto;
    width: 50%;
    border: 3px solid blue;
}
div#loginBanner h1{ 
    text-align: center;
    padding: 15px;
    color: white;
    background-color: palegreen;
}

div#loginContainer { 
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    position: relative;

 }

 label {
     padding: 10px;
     float: left;
     clear: both;

 }

div#loginContainer input[type=text],
div#loginContainer input[type=password] {
    /* Size and position */
    padding: 10px;   
}

